<div id="jumbo" class="p-5 mb-4 bg-light">
  <div class="container-fluid py-5 text-center">
    <h1 class="display-5 fw-bold">DIAMONDS IN THE RUFF</h1>
    <p>Older Dogs, New Leashes on Life.</p>
  </div>
</div>