{% extends '_templates/base.njk' %}

{% block page_title %}WELCOME{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <h1>LALALALALA OLDER DOGS ARE THE BEST LALALA dont for get to add image here</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum non voluptatibus fugiat recusandae a nostrum aliquam saepe, iste exercitationem dolores repellendus nisi unde tenetur aut ab qui quisquam culpa. Nemo. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque dicta laudantium eligendi. Quasi, necessitatibus beatae eum repellat neque voluptas ad ex quidem ab voluptatibus accusamus autem voluptatem, atque recusandae aspernatur. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas vitae ea odio sed voluptate quam provident accusamus exercitationem eos cum excepturi fuga minus necessitatibus, possimus earum. Sequi cumque eveniet nulla. </p>
    </div>
  </div>
</div>
{% endblock %}
