#jumbo {
  font-family: 'Ubuntu', sans-serif;
  background: url(../img/pinkpaws.jpg) no-repeat center;
  background-size: cover;
  color: rgb(18, 15, 15);
  padding-top: 12rem;
  margin-bottom: 30px;
}
